.set_icon {
  min-width: 25px;
  min-height: 25px;
  max-width: 25px;
  max-height: 25px;
  background-size: 100% 100%;
  margin-right: 10px;
}

.chk_btn {
  float: right;
}

.set_icon--uncommon {
  filter: invert(94%) sepia(81%) saturate(5639%) hue-rotate(175deg)
    brightness(85%) contrast(85%);
}

.set_icon--rare {
  filter: invert(94%) sepia(12%) saturate(1533%) hue-rotate(343deg)
    brightness(86%) contrast(90%);
}

.set_icon--mythic {
  filter: invert(80%) sepia(43%) saturate(5384%) hue-rotate(339deg)
    brightness(89%) contrast(90%);
}

.content_size {
  max-width: 300px !important;
}

.btn-close--mod {
  float: right;
  margin: 10px;
}

.block_content {
  display: block !important;
}

.card_name--mod {
  min-width: 170px;
}

.card_type--mod {
  float: left;
}
