#root {
  background-color: rgb(63, 58, 58);
  color: white;
  overflow: auto;
  margin: auto;
}

html {
  background-color: rgb(39, 38, 38);
  margin: auto;
  max-width: 1080px;
}

.body__side {
  min-width: 200px;
}

.body__main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 50px;
}

.search button {
  float: right;
  margin-left: 10px;
  margin-top: 10px;
  color: #ffffff;
}

.side_bar {
  width: 15%;
  background-color: black;
  background-image: url("/public/img/re.webp");
}

.jump_to {
  margin-left: 10px;
  margin-top: 10px;
  z-index: 5;
  position: absolute;
}

.jump_scroll {
  height: 150px;
  overflow: auto;
}

#jump_to_set {
  width: 180px;
}

.jumplist__ul {
  list-style-type: none;
  padding: 0;
}

.jumplist__ul li {
  padding: 4px;
  border-bottom: 1px solid #ffffff;
  background-color: rgb(24, 23, 23);
}

.side_selector {
  flex-wrap: nowrap;
  display: grid;
}

.container {
  padding-top: 20px;
  min-width: 820px;
}

.container__heading {
  font-size: xx-large;
  text-shadow: 6px 5px 5px rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 20px;
}

.container--loading {
  background-image: url("/public/img/load.webp");
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
  margin-left: 35%;
  margin-top: 20px;
}

.container--text {
  margin-left: 40%;
}

table hr {
  margin: 5px;
}


.setname--card {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
  font-size: large;
  padding-left: 30px;
}

.footer {
  background-color: gray;
  color: white;
  text-align: center;
}

.main__left {
  margin: 1rem;
  max-width: 400px;
}

.main__right {
  margin: 1rem;
  max-width: 400px;
}

.hr_line {
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 450px;
}



@media only screen and (min-width: 910px) {
  /*  .main__left {
    width: 45%;
    float: left;
  }

  .main__right {
    width: 45%;
    float: left;
    min-height: 389px;
    padding-left: 10px;
  }

  .hr_line {
    display: none;
  }

  .list__banned {
    min-height: 289px;
  } */
}

/* @media screen and (max-width: 840px) {

  html,
  #root,
  body {
    max-width: 830px !important;
  }

  .side_bar {
    display: none !important;
  }

  .container {
    max-width: 830px !important;
    padding: 0 !important;
    min-width: 830px !important;
  }

}

@media screen and (max-width: 811px) {

  html,
  #root,
  body {
    max-width: 800px !important;
  }

  .side_bar {
    display: none !important;
  }

  .container {
    max-width: 800px !important;
    padding: 0 !important;
    min-width: 800px !important;
  }

}


@media only screen and (max-width: 610px) {
  * {
    margin: 0;
    padding: 0;
  }

  .body__side {
    display: none;
  }

  body {
    max-width: 610px;
    min-height: 400px;
    max-height: 500px;
  }

  .body__main {
    display: block;
    margin: auto;
    margin-top: 150px;
    width: 400px;
    text-align: center;
  }

  .side_bar {
    display: none !important;
  }

  .footer {
    margin-top: 50px;
  }

  .setname {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 600;
    font-size: large;
    background-color: khaki !important;
  }

  .space_er {
    min-height: 200px;
  }

  .container {
    margin-top: 250px;
    padding-top: 0px;
  }

  .card_type--mod {
    padding-left: 30px;
  }

  .text-start {
    padding-left: 10px;
  }

  .list__banned {
    width: 100%;
  }

  .list-group-item:hover {
    color: white;
  } 

}*/