#root {
  background-color: rgb(63, 58, 58);
  color: white;
  overflow: auto;
  margin: auto;
}

.body__side {
  min-width: 200px;
}

.body__main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 50px;
}

.side_bar {
  display: block !important;
  width: 20%;
  background-color: black;
  background-image: url("./assests/img/re.webp");
  text-align: center;
  min-width: 160px;
  padding-right: 8px;
  padding-left: 8px;
}

.side_bar__jumplist {
  background-color: #252323;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.jumplist__ul{
  list-style-type: none;

  margin-top: 10px;
  padding: 0;
  text-align: left;
}

.side_bar h2,
h3 {
  font-size: 1em;
  overflow-wrap: anywhere;
}

.side_bar p {
  font-size: 0.8em;
  overflow-wrap: anywhere;
}

.side_bar button {
  margin-top: 10px;
}

.side_selector {
  flex-wrap: nowrap;
  display: grid;
}

.container {
  padding-top: 20px;
}

.container__heading {
  font-size: xx-large;
  text-shadow: 6px 5px 5px rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 20px;
}

.container--loading {
  background-image: url("./assests/img/load.webp");
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
  margin-left: 35%;
  margin-top: 20px;
}

.container--text {
  margin-left: 40%;
}

.setname--card {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
  font-size: large;
}

.footer {
  background-color: gray;
  color: white;
  text-align: center;
}

.main__left {
  margin: 1rem;
  max-width: 400px;
}
.main__right {
  margin: 1rem;
  max-width: 400px;
}

.hr_line {
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 450px;
}

.list__banned {
  min-height: 50px;
}

@media only screen and (min-width: 910px) {
  .main__left {
    width: 45%;
    float: left;
  }
  .main__right {
    width: 45%;
    float: left;
    min-height: 389px;
    padding-left: 10px;
  }
  .hr_line {
    display: none;
  }
  .list__banned {
    min-height: 289px;
  }
}

@media only screen and (max-width: 610px) {
  * {
    margin: 0;
    padding: 0;
  }

  .body__side {
    display: none;
  }

  body {
    max-width: 610px;
    min-height: 400px;
    max-height: 500px;
  }

  .body__main {
    display: block;
    margin: auto;
    margin-top: 150px;
    width: 400px;
    text-align: center;
  }

  .side_bar {
    display: none !important;
  }

  .footer {
    margin-top: 50px;
  }

  .setname {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 600;
    font-size: large;
    background-color: khaki !important;
  }

  .space_er {
    min-height: 200px;
  }

  .side_bar {
    display: none;
  }

  .container {
    margin-top: 250px;
    padding-top: 0px;
  }

  .card_type--mod {
    padding-left: 30px;
  }
  .text-start {
    padding-left: 10px;
  }

  .list__banned {
    width: 100%;
  }
}
